/* header */ 
header { 
    display: block;
    background-color: #ebebeb;
    text-align: center; 
    font-family: 'arial','helvetica neue', helvetica, sans-serif;
    color: #777;
    width: 100%;
    max-width: 960px;
    font-size: 12px;
    padding: 20px;
    clear: both;
    margin: 10px 100px 10px 120px;
}

/* nav */
nav {
    display: block;
    background-color: #ebebeb;
    text-align: center; 
    font-family: 'arial','helvetica neue', helvetica, sans-serif;
    color: #777;
    width: 100%;
    max-width: 960px;
    font-size: 12px;
    padding: 20px;
    clear: both;
    margin: 10px 100px 10px 120px; 
}

/* section */ 
section {
    float: left;
    color: #777;
    font-size: 12px;
    display: block;
    /*padding: 20px;*/
    background: #ebebeb;
    padding: 150px 50px;
    margin-left: 120px;
    margin-top: 15px;
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
    width: 20%;
    text-align: center;
}

/* aside */
aside {
   /* position: relative;
    left: -10px;
    bottom: -10px;*/
    float: left;
    color: #777;
    font-size: 12px;
    display: block;
    margin-left: 120px;
    margin-top: 15px;
    /*padding-left: 20%;*/
    background: #ebebeb;
    /*margin-left: 120px;
    margin-top: 15px;
    margin-right: 450px;*/  
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
    width: 20%; 
}


/* footer */
footer {
    clear: both;
    display: block;
    background-color: #ebebeb;
    text-align: center; 
    font-family: 'arial','helvetica neue', helvetica, sans-serif;
    color: #777;
    width: 100%;
    max-width: 960px;
    font-size: 12px;
    padding: 20px;
    margin: 10px 100px 10px 120px; 

}

body {
    background: #777;
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
    color: #777;
    width: 960px;
    font-size: 18px;
}

article {
    background: #777;
    color: #ebebeb;
    display: block;
    padding: 10px;
}

h1, p {
    background: #ebebeb;
    color: #777;
    display: block;
}